/* purgecss start ignore */
.fade-enter {
    opacity: 0;
    z-index: 1
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in .5s;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity .5s ease-in;
}
/* purgecss end ignore */